.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 2rem;
}

main {
  max-width: 512px;
}

h1 {
  margin-bottom: 0;
}

h2 { 
  margin-top: 0;
}

table {
  margin: 0 auto;
  text-align: right;
}

td {
  padding-right: 1rem;
}